@keyframes beaconLight {
  40% {
    background: $color-red;
    border-color: #fff;
  }

  100% {
    background: darken($color-red, 7%);
    border-color: darken(#fff, 7%);
  }
}

@keyframes beaconRing {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes sonar {
  0% {
    opacity: 0.5;
    transform: rotate(0deg);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.5;
    transform: rotate(360deg);
  }
}
