
.Button {
  @include font-size(16);
  background: $color-blue-light;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Futura-Bold", sans-serif;
  outline: 0;
  min-width: 250px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;

  &:hover {
    background: $color-blue-light;
    color: #fff;
  }
}
