div{
	font-weight: normal;
	margin-top: 1em;
	margin-left: 3em;
}
ul{
	list-style-type: none;
}
h3{
	margin-bottom: 1em;
}
.flighttime{
	padding-left: 2.0em;
	color: #999;
}
a{
	color: dodgerblue;
}
.eventId{
	color: gold;
}
span.theme{
	font-size: 0.85em;
}